.cover__link {
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: rgb(42 44 47 / 30%);

    max-width: 1184px;
    width: 100%;
    padding: 22.5% 0 22.5%;
}

.cover__link:hover {
    background-color: rgb(42 44 47 / 80%);
}