.cover__link {
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: rgb(42 44 47 / 30%);

    max-width: 1184px;
    width: 100%;
    padding: 20% 0 20%;
}

.cover__link:hover {
    background-color: rgb(42 44 47 / 80%);
}

@media screen and (max-width: 425px) {

    .cover__link {
        padding: 10% 0 10%;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .cover__link {
        padding: 15% 0 15%;
    }
}