.cover__link {
    max-width: 1184px;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.cover__link:hover {
    background-color: rgb(0 0 0 / 30%);
}

