.lead__image {
    margin: auto;
    padding-top: 64px;
    max-width: 984px;
    width: 100vw;
    object-fit: fill;
}

@media screen and (max-width: 425px) {
    .lead__image {
        padding-top: 40px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .lead__image {
        max-width: 928px;
        width: 100%;
    }
    
}