.cover {
    margin: 92px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    max-width: 1184px;
    min-height: 480px;

    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cover:hover {
    opacity: 0.8;
    z-index: -1;
}