@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__paragraphs/place__paragraphs.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__head/cover__head.css);
@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;

    src: url(../fonts/Inter-3.19/Inter-Regular.woff) format('woff'),
        url(../fonts/Inter-3.19/Inter-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;

    src: url(../fonts/Inter-3.19/Inter-Black.woff) format('woff'),
        url(../fonts/Inter-3.19/Inter-Black.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;

    src: url(../fonts/Inter-3.19/Inter-Bold.woff) format('woff'),
        url(../fonts/Inter-3.19/Inter-Bold.woff2) format('woff2');
}






@media screen and (max-width: 425px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }

    .header {
        padding: 16px 16px 0;
    }

    .lead {
        padding-top: 48px;
    }

    .lead__title {

        font-size: 40px;
        line-height: 44px;
    }

    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
        padding-top: 16px;
    }

    .lead__image {
        min-width: 100vw;
        max-height: 200px;
    }

    .lead__map {
        padding-top: 40px;
    }

    .intro {
        padding-top: 64px;
        margin: 0 16px;
    }

    .lead__caption {
        margin-left: 16px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }






    .photo-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
        padding: 56px 16px 0;
    }

    .places {
        display: flex;
        flex-direction: column;

    }

    .place {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }

    .place:first-child {
        padding-top: 0;
    }

    .place__title {
        font-size: 32px;
        line-height: 35px;
        align-self: flex-start;
        padding-bottom: 0;
    }

    .place__image {
        padding-top: 32px;
    }

    .place__website {
        align-self: flex-start;
        padding: 32px 16px 0;
        margin-left: 0;
    }

    .place__paragraphs {
        padding: 32px 16px 0;
        row-gap: 26px;
        margin-left: 0;
    }

    .place__paragraph {
        font-size: 16px;
    }

    .cover__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
    }

    .cover__subtitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 16px;
    }

    .footer {
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 64px;
        margin: 0 16px 0;
    }
    
    .footer__links {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        list-style: none;
        gap: 18px;
    }

    .footer__copyright {
        margin-top: 48px;
    }

}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .intro {
        padding-top: 88px;
        margin: 0 24px;
    }

    .lead__caption {
        margin-left: 24px;
    }

    .intro__text {
        max-width: 720px;
    }

    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .places {
        margin-top: 88px;
    }

    .place__website {
        margin-left: 28px;
    }

    .place__paragraphs {
        margin-left: 28px;
    }

    .footer {
        margin: 0 auto 24px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .intro {
        padding-top: 88px;
        margin: 0 48px;
    }

    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .place__website {
        margin-left: 32px;
    }

    .place__paragraphs {
        margin-left: 32px;
    }

    .footer {
        margin: 0 48px 24px;
    }
}