.footer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 92px;
    margin: 0 auto 24px;
    max-width: 1184px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .footer {
        margin: 0 48px 24px;
    }
}


@media screen and (min-width: 426px) and (max-width: 768px) {

    .footer {
        align-items: baseline;
        padding-top: 88px;
        margin: 0 24px 0;
    }
}

@media screen and (max-width: 425px) {
    
    .footer {
        padding-top: 64px;
        margin-left: 16px;
        flex-direction: column;
        align-items: flex-start;
    }
}