.footer {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 92px;
    margin: 0 auto 24px;
    max-height: 18px;
    max-width: 1184px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .footer {
        margin: 0 48px 24px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .footer {
        margin: 0 auto 24px;
    }
}

@media screen and (max-width: 425px) {

    .footer {
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 64px;
        margin: 0 16px 0;
    }
}