.footer {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 92px;
    margin: 0 auto 24px;
    max-height: 18px;
    max-width: 1184px;
}